.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
venv
*.pyc
*.pyo
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

info/files/.db_version
.idea/

parsed_*.json
figis.txt
/info/files/.current_settings.json
info/files/fonts/*
