tinkoff-investments==0.2.0b50
SQLAlchemy~=1.4.46
SQLAlchemy-Utils==0.40.0
function~=1.2.0
cryptography==38.0.4
pymysql==1.0.3
PyQt5~=5.15.6
tinkoff~=0.1.1
numpy~=1.23.5
matplotlib~=3.7.1
keras~=2.12.0
tensorflow~=2.12.0